<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CreateAccountSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="CreateAccountSoap1" maxReceivedMessageSize="2147483647" />
                <binding name="LoginServiceSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginServiceSoap1" maxReceivedMessageSize="2147483647" />
                <binding name="CreateAnnouncementSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="CreateAnnouncementSoap1" maxReceivedMessageSize="2147483647" />
                <binding name="MyAnnouncesServicesSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="MyAnnouncesServicesSoap1" maxReceivedMessageSize="2147483647" />
                <binding name="BrowseServiceSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BrowseServiceSoap1" maxReceivedMessageSize="2147483647" />
                <binding name="AdminServiceSoap" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="AdminServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44385/CreateAccount.asmx"
                binding="basicHttpBinding" bindingConfiguration="CreateAccountSoap"
                contract="CreateAccountService.CreateAccountSoap" name="CreateAccountSoap" />
            <endpoint address="https://localhost:44385/LoginService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoginServiceSoap"
                contract="LoginService.LoginServiceSoap" name="LoginServiceSoap" />
            <endpoint address="https://localhost:44385/CreateAnnouncement.asmx"
                binding="basicHttpBinding" bindingConfiguration="CreateAnnouncementSoap"
                contract="CreateAnnouncementService.CreateAnnouncementSoap"
                name="CreateAnnouncementSoap" />
            <endpoint address="https://localhost:44385/MyAnnouncesServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyAnnouncesServicesSoap"
                contract="MyAnnouncesService.MyAnnouncesServicesSoap" name="MyAnnouncesServicesSoap" />
            <endpoint address="https://localhost:44385/BrowseService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BrowseServiceSoap"
                contract="BrowseService.BrowseServiceSoap" name="BrowseServiceSoap" />
            <endpoint address="https://localhost:44385/AdminService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AdminServiceSoap"
                contract="AdminService.AdminServiceSoap" name="AdminServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>