<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CreateAccountSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CreateAccountSoap1" />
                <binding name="LoginServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginServiceSoap1" />
                <binding name="BrowseServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="BrowseServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44385/CreateAccount.asmx"
                binding="basicHttpBinding" bindingConfiguration="CreateAccountSoap"
                contract="CreateAccountService.CreateAccountSoap" name="CreateAccountSoap" />
            <endpoint address="https://localhost:44385/LoginService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoginServiceSoap"
                contract="LoginService.LoginServiceSoap" name="LoginServiceSoap" />
            <endpoint address="https://localhost:44385/BrowseService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BrowseServiceSoap"
                contract="BrowseService.BrowseServiceSoap" name="BrowseServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>